@config "../tailwind.config.js";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playpen+Sans:wght@100..800&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;











