@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family:Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar{
    display:none ;
}

@media (max-width:640px){
    a.active{
        background-color: black;
        color:white;
    }
}
.dark .logo{
  filter: invert(1) brightness(2)!important
}
/* Only brighten logo + icons in navbar dark mode */
.dark .navbar img {
  filter: brightness(2) contrast(1.2);
}

/* body {
  @apply bg-white text-black transition-colors;
} */

.dark body {
  @apply bg-gray-900 text-white transition-colors;
}
.dark p,
.dark span,
.dark li,
.dark label,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  @apply text-gray-200;
}
.dark .cart-size {
  color: black !important;
}

.dark * {
  @apply transition-colors;
}
.dark .cart-input {
  color: white !important;
  background-color: #1f2937 !important; /* gray-800 */
  border-color: #4b5563 !important; /* gray-600 */
}

.dark .cart-bin {
  filter: invert(1) brightness(2) !important;
}
.dark .track-order {
  color: white !important;
}
.dark .select {
  background-color: #1f2937 !important;
}
.dark .search{
  background-color: #1f2937 !important;
  }
.dark .search-icon{
   filter: brightness(2) contrast(1.2);
}
.dark .profile{
  background-color: #4b5563 !important;
}
.dark .dark-hover:hover{
color:black !important;
}
.dark .about{
  color:white !important;
}
.dark .login{
  color:white !important;
  border-color:white !important;
}
